body{
    margin-top:15px;
}
.layui-container{
    margin-left: 0;
}
.layui-form .layui-input-block{
    margin-bottom: 10px;
}
.layui-form-label{
    width: 120px;
}
.layui-input-block{
    margin-left: 150px;
}
.layui-container .layui-form span{
    margin-left: 150px;
    line-height: 10px;
    font-size: 10px;
    color: #a29c9c;
}
.layui-form-item .inline{
    width: auto;
    padding-right: 10px;
    line-height: 38px;
}
