<%- include('header.html')%>
<link rel="stylesheet" href="/public/client/css/Office furniture.css">
<div id="n_main_box">
    <div id="n_content">
        <div class="about_title">
            <h1><%= apartment[2].title%></h1>
            <strong></strong>
        </div>
        <section id="n_gjyw">
            <div class="main_box">
                <article class="ar_article">
                    <%- apartment[2].content%>
                </article>
            </div>
        </section>
    </div>
</div>

<%- include('footer.html')%>