<%- include('header.html') %>
<link rel="stylesheet" href="/public/client/css/index.css">
<section id="s_main_box">
    <div class="n_box">
        <section class="floor f1" id="s_pro">
            <div class="main_box">
                <div class="s_title">
                    <h2>新闻中心</h2>
                </div>
                <section class="content img_size">
                    <dl class="clearfix">
                        <% for(var i in news){ %>
                            <% if(i==0){%>
                                <dd class="l1">
                                    <a href="/news/<%= news[i].id%>">
                                        <div class="text_box">
                                            <div class="box">
                                                <h1><%= news[i].title%></h1>
                                                <p>
                                                    <%= news[i].description%>
                                                    <span>...</span>
                                                </p>
                                                <span class="more"></span>
                                            </div>        
                                        </div>
                                    </a>
                                </dd>
                                <dd class="l2 img">
                                    <a href="/news/<%= news[i].id%>">
                                        <img src="<%= news[i].thumb%>" alt="" style="max-width:100%">
                                    </a>
                                </dd>
                            <% } else if(i==1){ %>
                                <dd class="l3">
                                    <a href="/news/<%= news[i].id%>">
                                        <div class="text_box">
                                            <div class="box">
                                                <h1><%= news[i].title%></h1>
                                                <p>
                                                    <%= news[i].description%>
                                                    <span>...</span>
                                                </p>
                                                <span class="more"></span>
                                            </div>
        
                                        </div>
                                    </a>
                                </dd>
                                <dd class="l4 img">
                                    <a href="/news/<%= news[i].id%>">
                                        <img src="<%= news[i].thumb%>" alt="" style="max-width:100%">
                                    </a>
                                </dd>
                                <% }else if(i==2){ %>
                                    <dd class="l5 img">
                                        <a href="/news/<%= news[i].id%>">
                                            <img src="<%= news[i].thumb%>" alt="" style="max-width:100%">
                                        </a>
                                    </dd>
                                    <dd class="l6">
                                        <a href="/news/<%= news[i].id%>">
                                            <div class="text_box">
                                                <div class="box">
                                                    <h1><%= news[i].title%></h1>
                                                    <p>
                                                        <%= news[i].description%>
                                                        <span>...</span>
                                                    </p>
                                                    <span class="more"></span>
                                                </div>
            
                                            </div>
                                        </a>
                                    </dd>
                                <% }else if(i==3){ %>
                                    <dd class="l7 img">
                                        <a href="/news/<%= news[i].id%>">
                                            <img src="<%= news[i].thumb%>" alt="" style="max-width:100%">
                                        </a>
                                    </dd>
                                    <dd class="l8">
                                        <a href="/news/<%= news[i].id%>">
                                            <div class="text_box">
                                                <div class="box">
                                                    <h1><%= news[i].title%></h1>
                                                    <p>
                                                        <%= news[i].description%>
                                                        <span>...</span>
                                                    </p>
                                                    <span class="more"></span>
                                                </div>
            
                                            </div>
                                        </a>
                                    </dd>
                                    <% } %>
                        <% } %>
                        
                    </dl>
                </section>
                <section id="s_pro_type">
                    <ul class="clearfix">
                        <li class="l1">
                            <a href="#">
                                <div class="pic_box"></div>
                            </a>
                            <span>Office furniture</span>
                            <strong>办公家具</strong>
                        </li>
                        <li class="l2">
                            <a href="#">
                                <div class="pic_box"></div>
                            </a>
                            <span>School furniture</span>
                            <strong>学校家具</strong>
                        </li>
                        <li class="l3">
                            <a href="#">
                                <div class="pic_box"></div>
                            </a>
                            <span>Hospital furniture</span>
                            <strong>医院家具</strong>
                        </li>
                        <li class="l4">
                            <a href="#">
                                <div class="pic_box"></div>
                            </a>
                            <span>Flat furniture</span>
                            <strong>公寓家具</strong>
                        </li>
                        <li class="l5">
                            <a href="#">
                                <div class="pic_box"></div>
                            </a>
                            <span>Hotel furniture </span>
                            <strong>酒店家具</strong>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
        <section class="floor f2" id="s_about">
            <div class="main_box">
                <div class="s_title">
                    <h2>关于我们</h2>
                </div>
                <div class="pic_box">
                    <a href="/about">
                        <img src="/public/client/image/col_1.jpg" alt="" style="max-width: 100%;">
                        <div class="pic_title">
                            <h1>
                                <strong>关于我们</strong>
                                <span>about</span>
                            </h1>
                            <i></i>
                        </div>
                    </a>
                </div>
                <div class="content">
                    <div class="title">
                        某某家居装饰公司
                        <a href="#" class="more"></a>
                    </div>
                    <div class="article">
                        <p style="text-indent: 2em;">
                            某某家居装饰公司于2009年初上线，原名装修网，2014年初更名为某某家居装饰公司，是河南车前草计算机科技有限公司旗下装修平台。
                        </p>
                        <p style="text-indent: 2em;">
                            某某家居装饰公司是**性装修行业门户网站，现已开通分站近600个，其中直营分站200多个，合作分站300多个，覆盖**大中小城市（含部分县级市），现日均独立访客超过30万人次，注册会员超过500万家，为中国千百万装修业主提供服务，影响力巨大。
                        </p>
                        <p style="text-indent: 2em;">
                            某某家居装饰公司是高质装修资源整合平台，六大会员系统，涵盖了装修行业所有门类，为广大装修业主筛选并推荐高质装饰公司、优秀设计师和工长、高质的家居建材产品，是业主和装企之间的桥梁和纽带。
                        </p>
                        <p style="text-indent: 2em;">
                            某某家居装饰公司有强大的会员系统，分为装饰公司、家居建材厂商、家居卖场、设计师、工长工人、装修业主六大会员系统，服务于装修行业所有参与者。某某家居装饰公司在各大搜索引擎，有极高重权，关键词自然排名非常好。同时，某某家居装饰公司各类广告遍地开花，让某某家居装饰公司的形象深入人心。
                        </p>
                    </div>
                </div>
                <div id="s_about_link">
                    <ul class="clearfix">
                        <li class="l1">
                            <a href="#">
                                <div class="icon_box"></div>
                                <p>
                                    乐于创新、现代时尚 <br>
                                    这正是范玺品牌的理念内涵
                                </p>
                            </a>
                        </li>
                        <li class="l2">
                            <a href="#">
                                <div class="icon_box"></div>
                                <p>
                                    乐于创新、现代时尚 <br>
                                    这正是范玺品牌的理念内涵
                                </p>
                            </a>
                        </li>
                        <li class="l3">
                            <a href="#">
                                <div class="icon_box"></div>
                                <p>
                                    乐于创新、现代时尚 <br>
                                    这正是范玺品牌的理念内涵
                                </p>
                            </a>
                        </li>
                        <li class="l4">
                            <a href="#">
                                <div class="icon_box"></div>
                                <p>
                                    乐于创新、现代时尚 <br>
                                    这正是范玺品牌的理念内涵
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="floor f3" id="s_case">
            <div class="j_parallax">
                <div class="main_box">
                    <div class="s_title">
                        <h2>家居产品</h2>
                    </div>
                    <div class="content">
                        <section class="img_size">
                            <ul class="j_scoll" style="overflow: hidden; outline: none;">
                                <% for(var i in product){%>
                                <li>
                                    <a href="/product/<%= product[i].id%>">
                                        <div class="pic_box">
                                            <img src="<%= product[i].thumb%>" alt="<%= product[i].title%>" style="max-width:100%">
                                        </div>
                                        <div class="text_box">
                                            <h1><%= product[i].title%></h1>
                                        </div>
                                    </a>
                                </li>
                                <% } %>
                            </ul>
                        </section>
                    </div>
                </div>

            </div>
        </section>
        <div id="message_wrap">
            <div class="lam_box">
                <div class="box clearfix">
                    <div class="ow_links">
                        <span></span>
                        <h2>合作<i>意向表</i>
                        </h2>
                        <p>
                            请您将建议或想法告诉我们，我们必当<br>
                            竭尽全力为您服务，不辜负您的每一份信赖！
                        </p>
                    </div>
                    <div class="message">
                        <form class="message-body" method="post" action="javascript:;">
                            <input type="text" placeholder="您的姓名" name="name" id="linkMan">
                            <input type="text" placeholder="联系电话" name="contact" id="telephone">
                            <textarea name="msg" id="message" placeholder="描述您的需求"></textarea>
                            <div class="captcha-box">
                                <input type="text" placeholder="验证码" name="vcode" id="captcha">
                                <img src="/public/client/image/vf.gif" class="refresh-captcha" id="captcha-pic">
                            </div>
                            <input type="button" placeholder="提交咨询" value="提交咨询" class="message-submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('footer.html')%>
<script src="/public/client/js/jquery-3.6.0.min.js"></script>
<!-- 使用layer必须先引入jquery -->
<script src="/public/client/layer/layer.js"></script>
<script>
    // layer
    var linkMan = document.querySelector("#linkMan")
    var telephone = document.querySelector("#telephone")
    var message = document.querySelector("#message")
    var vcode = document.querySelector("#captcha")
    var messageSubmit = document.querySelector(".message-submit")
    // 表单验证
    messageSubmit.onclick = function(){
        if(!linkMan.value){
            layer.msg("请输入联系人")
            return ;
        }
        if(!telephone.value){
            layer.msg("请输入联系方式")
            return ;
        }
        if(!message.value){
            layer.msg("请输入你的需求")
            return ;
        }
        if(!vcode.value){
            layer.msg("请输入验证码")
            return ;
        }
        $.ajax({
            url:"/",
            type:"post",
            data:{
                name:linkMan.value,
                contact:telephone.value,
                msg:message.value
            },
            success:function(res){
                if(res.code == 200){
                    linkMan.value="";
                    telephone.value="";
                    message.value="";
                    vcode.value="";
                }
                layer.msg(res.msg)
            },
            error:function(){
                layer.msg("提交出错，请稍后重试")
            }
        })
    }
</script>