<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轮播图添加</title>
    <link rel="stylesheet" href="/public/admin/layui/css/layui.css">
    <link rel="stylesheet" href="/public/admin/css/common.css">
    <link rel="stylesheet" href="/public/admin/css/addProduct.css">
    <link rel="stylesheet" href="/public/admin/wangeditor/style.css">
</head>

<body>
    <div class="layui-panel">
        <a href="/admin/page" class="layui-btn">返回</a>
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入标题"
                        autocomplete="off" class="layui-input" value="<%= page.title%>">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-inline">
                    <div style="border:1px solid #ccc ;">
                        <div id="toolbar-container" style="border-bottom:1px solid #ccc ;"></div>
                        <div id="editor-container" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="edit-page" style="margin-left:0 ;">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
    </div>

    </form>
    </div>
    <script src="/public/admin/layui/layui.js"></script>
    <script src="/public/admin/wangeditor/index.js"></script>
    <script>
        layui.use(function () {
            var upload = layui.upload;
            var form = layui.form;
            var $ = layui.$;
            var uploadThumb = document.querySelector('#upload-thumb')
            var uploadInput = document.querySelector("#upload-input")
            //执行实例
            var uploadInst = upload.render({
                elem: '#upload-btn', //绑定元素
                url: '/admin/upload/', //上传接口
                accept: 'images',
                size: '1024',
                done: function (res) {
                    if (res.code == 200) {
                        uploadInput.value = res.data;
                        uploadThumb.src = res.data;
                    }
                    layer.msg(res.msg);
                    //上传完毕回调
                },
                error: function () {
                    //请求异常回调
                    layer.msg("上传错误")
                }
            });
            form.on("submit(edit-page)", function (data) {
                // 删除多了 file 字段
                delete data.field.file;
                data.field.content = editor.getHtml()
                $.ajax({
                    url: "/admin/edit-page/"+ <%=page.id%>,
                    data: data.field,
                    type: "POST",
                    success: function (res) {
                        if (res.code == 200) {
                            location.href = "/admin/page";
                        }
                        layer.msg(res.msg)
                    },
                    error: function () {
                        layer.msg("编辑出错，请稍后重试")
                    }
                })
                return false; // 阻止跳转
            })

            var editorConfig = {
                MENU_CONF: {
                    uploadImage: {
                        server: '/admin/upload',
                        maxFileSize: 1 * 1024 * 1024,
                        allowedFileTypes: ['image/*'],
                        customInsert(res, insertFn) {
                            insertFn(res.data)
                        },
                    }
                }
            };
            var toolbarConfig = {};
            // 创建编辑器
            const editor = wangEditor.
            createEditor({
                html: `<%- page.content%>`,
                selector: '#editor-container',
                config: editorConfig,
                mode: 'default' // 或 'simple' 参考下文
            })
            // 创建工具栏
            const toolbar = wangEditor.
            createToolbar({
                editor,
                selector: '#toolbar-container',
                config: toolbarConfig,
                mode: 'default' // 或 'simple' 参考下文
            })
        })
    </script>
</body>

</html>